* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #e0f7fa, #e1f5fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#weatherApp {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    min-height: 500px;
}

#location-input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    margin: 15px 0;    
    
}

button {
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: -20px;
}

button:hover {
    background-color: #0056b3;
}

#weather-data {
    margin: 40px auto 0;
    width: 100%;
    max-width: 300px;
    padding: 25px;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

  